<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h1>About Us</h1>
		<h4>Welcome To Teach Me Anything...</h4>
		<p>We are a platform where we want you to feel comfortable in learning anything your heart desires.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Why Use Us?</h2>
			<h4>Credibility</h4>
			<p>At Teach Me Anything, we truly believe in screening and qualifying instructors before they are able to place a listing on our site. With that said, we do allow a range of experiences as this affects the rates instructors may charge. We also only allow users to sign up with Facebook profiles at the present time, which offers another layer of credibility to ensure you are speaking to a real person.</p>
			<h4>Ease of Use</h4>
			<p>Whether it is our easy to use search, or our well defined categorization system, or our simple, easy to understand profile admin panel, we want to ensure a smooth and fun experience. Any suggestions on improvement are always welcome and can be forwarded to improvements@teachmeanything.com</p>
			<h4>Marketing</h4>
			<p>We have created a platform that allows you to present yourself with your best possible intentions at heart.</p>
			<h4>Earnings</h4>
			<p>We keep track of your earnings for you so you can feel at ease about not losing track of what goes into your pocket. </p>
		</div>
	</div>
</div>